{% extends 'posts/udacity3.html' %}

{% load static %}


<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Impairment</title>

</head>
{% block content %}


<div class="container">
    <br>
    <br>


			<h1>Teste de Recuperabilidade de Ativos (Impairment) - CPC 01 equivalente ao IAS 36 (IFRS)</h1>
			<p class="linhadeOlho">A proposta do artigo é levar ao conhecimento para as empresas que sao afetadas por este procedimento, por onde devem comecar para apurar tal perda na contabilidade, se a mesma existir.</p>



<body>
			<div class="texto">
			<p>
				          </p><p>A minha inquietude, faz com que eu pergunte sempre, o que me obriga a fazer determinada coisa, bem como a pergunta final, caso eu não faça qual será a penalidade, para assim mensurar os riscos e tomar a melhor decisão, ou seja, fazer ou não fazer, eis a questão!</p>
<p>Rege a legislação vigente, segundo o código civil Lei 10.406-2002, em seus artigos 1075, 1078 a 1080, combinado com a Lei .6.404-76 em seus artigos 176 e 177, que a <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/contabilidade">contabilidade</a> deve ser realizada segundo o que emanam as normas editadas pelo CFC, sem prejuízo da Lei de Recuperação Judicial 11.101-05</p>
<p>Isto posto, considerando as NBCs-Ts&nbsp; pela Resolução CFC 1.328-11, classificadas entre várias esta a NBC TG, contemplando a convergência para o <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/ifrs">IFRS</a> que também trata do Teste de Recuperabilidade dos Ativos que “conversa” com o CPC 01, por sua vez reflexo do IAS 36  <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/ifrs">(IFRS)</a> , nos obrigando segundo a Lei 11.638-2007 e Lei 11.941-2009 a observar esta situação, ou seja, por toda esta fundamentação, as empresas estão obrigadas a proceder aos testes, segundo estas normas, e agora vem a parte mais complexa, uma vez que a parte mais fácil foi descobrir se estávamos ou não obrigados a proceder tal teste.</p>
<p>Em resumo o teste se faz necessário, periodicamente, em especial quando do encerramento das Demonstrações Econômico Financeiras, a considerar que neste momento consolida-se um ciclo, compreendido por ano, passível de avaliação de uma forma harmônica, onde compreende o resultado de um período, para a avaliação da gestão da corporação tomar decisões acerca dos números que foram apresentados.</p>
<p>O teste tem a proposta simploriamente falando de ajustar o valor existente nos ativos, objetos do teste a valor real, se os mesmos estiverem superavaliados, independente do motivo, e para tanto o critério para se apurar esta situação se dá por duas formas, sendo:</p>
<p>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>calcular o preço de&nbsp;<strong>venda líquido&nbsp;</strong>(caso fosse vender o equipamento) ou</em></p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>calcular o&nbsp;<strong>valor em uso&nbsp;</strong>do equipamento - (continuando com o equipamento, quanto vai gerar de lucro?), o</em>u ainda de forma híbrida</p>
<p>&nbsp;</p>
<p>Critérios acima destacadas não tão simples de serem apurados, se falarmos por exemplo de termos que identificar cada unidade de negócio produtora, bem como se ainda tivermos que avaliar cada item do ativo, imaginando por exemplo uma corporação, ou melhor dizendo um grupo econômico possuidora de muitos ativos em questão.</p>
<p>Das penalidades, penso que as mesmas podem ser divididas em dois momentos, seja quanto ao:</p>
<p>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Disclosure </em>(transparência) e</p>
<p>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pecuniária</p>
<p>No que tange a transparência, a penalidade guarda relação com o não reconhecimento da realidade da empresa para os stakeholders&nbsp; e shareholders, ou seja, isto impactará com certeza, considerando valores expressivos, que estejamos falando de grandes corporações, ou mesmo que pequenas em ascensão, na tomada de decisão equivocada para determinada situação, uma vez que o <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/ifrs">IFRS</a> vem propor a essência sob a forma, trazendo a realidade para a DPF (Demonstração da Posição Financeira), e conhecida ate então por BP  <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/balanco_patrimonial">(Balanço Patrimonial)</a> , fugindo então do olhar específico para a norma e sim compreendendo o que efetivamente representa aquele ativo, que agora por norma acabou por gerar este alinhamento com a efetividade das operações que poderão ser geradas, lastreados por números verdadeiros.</p>
<p>Ainda falando da transparência, o fato de não fazermos o teste, poderá implicar no levantamento de ponto negativo emitido pela empresa de auditoria, se a mesma sofrer tal intervenção, seja por iniciativa própria da contratação da mesma ou em razão de obrigatoriedade em se tratando de empresas com o perfil de serem auditadas, por exigência de norma específica.</p>
<p>Embora aparentemente não tenha penalidade pecuniária, ou seja, se não fizer não terá multa, na realidade, se observarmos o exemplo abaixo emprestado do blog de Ângela Brilhante Portela, na minha visão, o reconhecimento da perda poderá diminuir sensivelmente a <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/base_de_calculo">base de calculo</a> do <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/irpj">IRPJ</a> e <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/csll">CSLL,</a>  uma vez que é tratada tal perda como um custo-despesa dedutível.</p>
<p>Vejamos na prática o que este tal de <em>Impairment</em> (Teste de Recuperabilidade dos Ativos), exemplo de autoria do blog citado acima, revisado por este autor, motivo pelo qual compartilho a título de enriquecer este artigo.<em> </em><em></em></p>
<p><em>“Qual o valor da&nbsp;<strong>variação&nbsp;</strong>que deverá sofrer o patrimônio de uma Empresa Industrial &nbsp;ao efetuar adequadamente, o lançamento contábil relativo ao teste de recuperabilidade de um equipamento em&nbsp;<strong>31.12.200X</strong>, sabendo-se que:</em></p>
<p><em>&nbsp;</em></p>
<p><em>O valor do registro original do equipamento é R$ 100.000,00;</em></p>
<p><em>a <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/depreciacao">depreciação</a> acumulada do equipamento, até a data do balanço, é de R$ 40.000,00;</em></p>
<p><em>&nbsp;</em></p>
<p><em>O valor de mercado do equipamento, na data do teste, é de R$ 62.000,00;</em></p>
<p><em>&nbsp;</em></p>
<p><em>Caso a Empresa vendesse o equipamento, na data do teste, incorreria em gastos associados a tal transação no montante de R$13.000,00;</em></p>
<p><em>&nbsp;</em></p>
<p><em>Caso a Empresa não vendesse o equipamento e o continuasse utilizando no processo produtivo, seria capaz de produzir 10.000 unidades de um produto por ano, pelos próximos 3 anos;</em></p>
<p><em>&nbsp;</em></p>
<p><em>O preço de venda do produto é R$10,00 por unidade;</em></p>
<p><em>&nbsp;</em></p>
<p><em>os gastos médios incorridos na produção e venda de uma unidade do produto é R$8,00;</em></p>
<p><em>&nbsp;</em></p>
<p><em>O custo de capital da Empresa é 10% ao ano;</em></p>
<p><em>Desconsidere a incidência de tributos.</em></p>
<p><em>&nbsp;</em></p>
<p><strong><em>Solução:</em></strong><em></em></p>
<p><em>&nbsp;</em></p>
<p><strong><em>1º passo:&nbsp;</em></strong><em>calcular o preço de&nbsp;<strong>venda líquido&nbsp;</strong>(caso fosse vender o equipamento)</em></p>
<p><em>&nbsp;</em></p>
<p><em>Preço de Venda .(valor de mercado).............. 62.000,00</em></p>
<p><em>(-) desp. Venda (gastos incorridos) .............. (13.000,00)</em></p>
<p><em>= preço venda líquida (data do teste) ............&nbsp;<strong>49.000,00</strong></em></p>
<p><em>&nbsp;</em></p>
<p><strong><em>2º passo:&nbsp;</em></strong><em>calcular o&nbsp;<strong>valor em uso&nbsp;</strong>do equipamento - (continuando com o equipamento, quanto vai gerar de lucro?).</em></p>
<p><em>&nbsp;</em></p>
<p><em>Preço unitário de venda do produto ....................................10,00</em></p>
<p><em>(-) gasto unitário de produção/venda de ............................&nbsp; 8,00</em></p>
<p><em>= lucro unitário do produto .................................................&nbsp; 2,00</em></p>
<p><em>(x) produção anual.............................................................10.000 unidades</em></p>
<p><em>= lucro anual......................................................................20.000</em></p>
<p><em>&nbsp;</em></p>
<p><em>Trazendo os três valores anuais à data do teste, considerando o custo de capital = 10%  <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/juros">(juros</a> compostos), temos:</em></p>
<p><em>&nbsp;</em></p>
<p><em>1º ano ==&gt; 1,10 ===&gt; 20.000 / 1,10 &nbsp;= 18.181,82</em></p>
<p><em>2º ano ==&gt; 1,21 ===&gt; 20.000 / 1,21 &nbsp;= 16.528,93</em></p>
<p><em>3º ano ==&gt; 1,331 ==&gt; 20.000 / 1,331 = 15.026,30</em></p>
<p><em>&nbsp;</em></p>
<p><em>Total na data do teste (Valor em Uso) =&nbsp;<strong>49.737,05</strong></em></p>
<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
<p><em>3º&nbsp;<strong>passo</strong>: O Valor Recuperável é R$ 49<strong>.737,05</strong>, pois é maior que R$ 49.000,00.</em></p>
<p><em>&nbsp;</em></p>
<p><em>4º&nbsp;<strong>passo</strong>:&nbsp;<strong>apuração do Valor Contábil</strong></em></p>
<p><em>&nbsp;</em></p>
<p><em>Custo de aquisição ............... R$ 100.000,00</em></p>
<p><em>( - ) <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/depreciacao">Depreciação</a> Acumulada R$ 40.000,00</em></p>
<p><em>= Custo ou Valor Contábil ... R$ 60.000,00</em></p>
<p><em>&nbsp;</em></p>
<p><em>5)&nbsp;<strong>passo</strong>: a<strong>puração da Perda por Desvalorização</strong></em></p>
<p><em>&nbsp;</em></p>
<p><em>Valor Recuperável do Ativo ...... R$ 49.737,05</em></p>
<p><em>( -) Valor Contábil ..................... R$ 60.000,00</em></p>
<p><em>= Perda por Desvalorização ..... R$ (10.262,95)</em></p>
<p><em>&nbsp;</em></p>
<p><strong><em>Lançamento societário</em></strong><em></em></p>
<p><em>&nbsp;</em></p>
<p><em>D – Perdas Por Desvalorização (ARE)................................................. 10.262,95</em></p>
<p><em>C – Provisão Para Perda por Desvalorização (-ANC).......................... 10.262,95</em>”</p>
<p>&nbsp;</p>
<p>Muito bem, agora vamos para a prática depois deste breve dissertação sobre o tema:</p>
<p>1º. Passo – Documentos base para análise&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>O documento base para a análise será o seu balancete ou DPF (Demonstração da Posição Financeira), antigo BP  <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/balanco_patrimonial">(Balanço Patrimonial)</a> . Se a empresa possuir um ERP que possua o módulo controle do patrimônio-imobilizado, poderá se valer do mesmo, desde que esteja alinhado com os saldos existente da DPF, para esta analise.</p>
<p>2º. Passo – Identificação dos Ativos</p>
<p>Com base no 1º. Passe, deverá o <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/contador">Contador</a> conjuntamente com o gestor, identificar os ativos passíveis de teste, segundo a legislação vigente</p>
<p>3º. Passo – Apuração das Perdas a serem Contabilizadas</p>
<p>Adotando um dos dois métodos mencionados no artigo, ou ainda que de forma híbrida, proceda o levantamento das perdas, se existirem, com base em sólidos parâmetros.</p>
<p>Sabemos que esta parte não é fácil, caso não tenha equipe técnica preparada internamente, talvez tenha que contratar uma consultoria para o desenvolvimento deste trabalho, bem como laudos com firme posicionamento e que goze de credibilidade, perante os entes que poderão fazer tal avaliação.</p>
<p>4º. Passo – Efetivação da Contabilização para o reconhecimento das Perdas</p>
<p>Promova a contabilização manualmente, a considerar que se tratando de assunto inovador, pouco provável que algum ERP tenha previsão de proceder a contabilização de forma automatizada, o que já deveria de alguma ter chamado a atenção das empresas que dominam softwares de Gestão, sem prejuízo no que menciono aqui, daquelas empresas que eu desconheço que por ventura já esteja contemplando esta situação.</p>
<p>5º. Passo – Notas Explicativas</p>
<p>Considerando tal procedimento relevante, que seja lançada a memória de cálculo em <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/notas_explicativas">Notas Explicativas,</a>  tornando transparente o efeito em razão do teste aplicado, desta forma atendendo o que determina a norma vigente, e por fim fazendo com que a <a class="classtermo" href="http://www.contabeis.com.br/termos-contabeis/contabilidade">contabilidade</a> reflita efetivamente o valor correto de seus ativos abaixo do guarda chuva que estão sujeitos ao Impairment.</p>
<p>Chegamos ao fim deste artigo, sem a pretensão de esgotarmos aqui o que mais ainda poderíamos abordar, desta forma para não tornarmos tão extenso e cansativo, abordaremos este assunto com mais riqueza de detalhes em outro momento oportuno. Enfim vem a calhar a discussão deste assunto, uma vez que estamos em época de fechamento de balanços, minimizando assim a compreensão complexa que se insurge no conjunto de tantas normas que nós profissionais do seguimento contábil temos que observar e agirmos sobre as mesmas, no sentido de apresentarmos as demonstrações das posições financeira, com a tecnicidade e perfeição que buscamos sempre.</p>
			<p></p> </div><!--texto-->

<br>
<br>

<h3><p>Agora que tal fazer o impairment da sua empresa conosco de forma automatizada? <a href="https://contabilidade.econobilidade.com/#planos"> Nossos planos partem de R$ 49,90</a> </p>  </h3>
<br>


<h4><p>Voce tambem pode calcular o valor da sua empresa gratuitamente <a href='https://finance.econobilidade.com/valuation/'> Valuation</a> </p></h4>

<br>
<br>

</div>
		</body>
		</html>



		  {% endblock %}
