
<html>

<body>

<h1>Analise de mercado</h1>



{% load staticfiles %}
<head>
<img class="app-graph"  src="https://finance.econobilidade.com/pics/media/stefan-stefancik-257625-unsplash.jpg" height="400">

</head>


<p>{{ talk }}</p>
<br>
<br>
<div class="container">
  <h2> Veja a conjuntura economica no arquivo anexo. Esses dados fazem parte da analise do seu segmento </h2>



</div>

<br>
<br>
<section class="container">
     <article class="row">
       <div class="col-md-7">
         <h2 class="featured-heading"><span class="text-muted"></span><a id="target">  E se a contabilidade te ajudasse a crescer em tempo real? </a> </h2>
         <p class="lead">Desde 1929 os dados contábeis passaram a ajudar as grandes empresas a crescer mais e melhor. Mas e as pequenas empresas?</p>

         <p>  <a href="http://contabilidade.econobilidade.com">Transforme sua contabilidade agora em uma <strong> máquina de ganhar dinheiro!</strong></a></p>
       <p>  <sup>Não Precisa trocar de contador. Geramos os dados de seus próprios demonstrativos!</sup></p>
       <p>  <a href="http://contabilidade.econobilidade.com/#planos">  <sup> <em> Planos a partir de R$ 49,90</em></sup></a></p>
       </div>
       <div class="col-md-4 col-md-offset-1">
         <img class="featured-image img-responsive center-block" src="{% static "images/bridge.svg" %}" alt="bridge">
       </div>
     </article>
<br>
<a href="https://youtu.be/Q0brUMWilXk">Conheça a empresa dona da tecnologia #econobilidade</a>


</body>
