{% extends "posts/base2.html" %}


{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Economic News</title>
  </head>

  {% block content %}
  <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <img src="{% static 'images/chris-liverani-552649-unsplash.jpg' %}" alt="Smiley face" style="float:center;width:250px;height:420px;">


  </div>

  <body>


<img src="{% static "images/Logo JPG Format-2.jpg" %}" height="400" width="95%" alt="My image"/>


<div class="container">

<h3>Analise da performance da <strong>{{ticker}}</strong> na Bolsa nos ultimos 21 pregões</h3>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~chemalle/21.embed">Petrobras</iframe>



</div>


<br>
<br>
<button onclick="goBack()">Retornar para Home Page</button>
<br/>




<script>
function goBack() {
    window.history.back();
}
</script>

<br>
<br>
  {% endblock %}

</body>
</html>
