{% extends "posts/base2.html" %}


{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title>Economic News</title>
  </head>

  {% block content %}
  <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <img src="{% static 'images/charles-forerunner-378-unsplash.jpg' %}" alt="Smiley face" style="float:center;width:250px;height:420px;">


  </div>
  <body>
<img src="{% static "images/Logo JPG Format-2.jpg" %}" height="300" width="95%" alt="My image"/>

<div class="container">





<h3>  <strong> {{ post.title }}</strong></h3>
<br/>
<span class="glyphicon glyphicon-time">{{ post.pub_date_pretty }}</span>
<br/>
<br>
<br>
<img src="{{ post.image.url }}"height="300"  width="50%" class="img-responsive center-block" />
<br>
<br>
<br/>
<p style="width:1000px">{{ post.body }}</p>
<br/>
<br>
<br>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://econobilidade.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<br>
<br>
<button onclick="goBack()">Retornar para Home Page</button>
<br/>




<script>
function goBack() {
    window.history.back();
}
</script>

<br>
<br>

  {% endblock %}


</body>


</html>
