{% extends 'posts/base2.html' %}



{% load staticfiles %}



<html>
<head>
<div class="wrapper">
    <div class="header">

    </div>

{% block content %}
<br>
<br>
<br>
<div class="container">

  <img src="{% static "images/Logo JPG Format-2.jpg" %}" height="400" width="95%" alt="My image"/>

<h1 align='center'> Tendência Preditiva</h1>

<img src="{% static 'images/chris-li-182361-unsplash.jpg' %}" height="300"  width="100%" class="img-responsive center-block" alt="wall_street">

</head>
<p>{{ talk }}</p>

{% load staticfiles %}


  <br>
  <br>
  <br>
  <br>
  <br>
  <td class=xl77 style='border-top:none'>   {{barchart|safe}} </td>

<br>
&nbsp <strong>SMA3</strong> ==> indica que o ativo esta em tendencia de alta no curtissimo prazo. Otimo momento para investir!
<br>
&nbsp <strong>Long Term</strong> ==> indica que o ativo é excelente para ser mantido na carteira mas não espere retornos muito rapido.
<br>
&nbsp <strong>downward trend</strong> ==> indica que o ativo esta em tendencia de baixa , portanto o risco retorno nao é adequado para investimento. Apenas especulaçao.
<p>Esta sugestao é valida caso o MSE seja inferior a 1.<br>
   O MSE desta previsão resultou em {{ MSE }}</p><br>

<p>Esta sugestao tem {{ EVS }} de assertividade!</p>
<br>
<br>

</div>
  {% endblock %}


<body>





  </html>
